*, *:before, *:after {
  box-sizing: border-box;
}
/* Variables */
html {
  /* Blue */
  --color-blue-dark: #0F3E4D;
  --color-blue-medium: #1A6F8C;

  /* Red */
  --color-red-light: #EF2E11;
  --color-red-dark: #AD210C;

  /* Orange */
  --color-orange-light: #FAA014;

  /* Gray */
  --color-gray-dark: #333333;
  --color-gray-medium: #999999;
}

/* Layout */
.container {
  width: 92%;
  max-width: 1200px;
}

/* Typography */

body {
  font-family: helvetica, arial, sans-serif;
}
