*, *:before, *:after {
  box-sizing: border-box;
}

/* Variables */
html {
  /* Blue */
  --color-blue-dark: #0F3E4D;
  --color-blue-medium: #1A6F8C;
  --color-blue-light: #4490A6;

  /* Red */
  --color-red-light: #EF2E11;
  --color-red-dark: #AD210C;

  /* Orange */
  --color-orange-light: #FAA014;

  /* Gray */
  --color-gray-dark: #333333;
  --color-gray-medium: #999999;
  --color-gray-light: #cccccc;

  /* Margins */
  --margin-standard: 20px;

  /* Widths */
  --site-max-width: 1200px;
}

/* Layout */
.container {
  width: 92%;
  max-width: var(--site-max-width);
  margin: 0 auto;
}

/* Typography */
body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  color: var(--color-gray-medium);
}

h1, h2, h3, h4 {
  color: var(--color-gray-dark);
}
